header {
    // background: url(../img/header-background2.jpeg) center/cover;
    margin: 0 auto;
    height: 100vh;

    nav {
        @include alignChildren(space-between);
        max-width: 1100px;
        margin: 0 auto;
        padding-top: 30px;

        .name {
            text-transform: uppercase;

            h2 {
                font-size: 1.3rem;
            }
            h3 {
                font-weight: 100;
                font-size: 0.9rem;
            }
        }
        ul {
            display: flex;
            text-transform: uppercase;
            padding: 0 30px;
        }
        .nav-elements {
            &:hover li:not(:hover) {
                border: none;
            }

            li {
               cursor: pointer;
               font-size: 1rem;
               padding: 20px 25px;
               letter-spacing: 1px;

               &:first-child {
                border-bottom: 4px solid $color1;
               }
               &:hover {
                border-bottom: 4px solid $color1;
               }
            }
        }
    }
    .header-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 1100px;
        padding: 230px 0;
        margin: 0 auto;

        h1 {
            font-size: 3.5rem;
        }
        p {
            text-align: justify;
            padding: 40px 0;
        }
        .btn1 {
            background: $color1;
            padding: 15px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-weight: 700;

            &:hover {
                border-radius: 25px 5px;
                transition: 0.3s ease-out;
                background: rgba(172, 39, 199, 0.699);
            }
        }
    }
}